/*  	Dropdown	  */

.dropdown {
    position: relative;
    display: inline-block;
    float: left;
}

.dropdown:hover .menu-hamburger {
	background-color: #027ec9;
	color: #027ec9;
	opacity: 0.8;
}

.dropdown:hover .menu-hamburger span {
	/* middle patty */
	top: 35px;
	left: 13px;
	width: 45%;
	opacity: 0.95;
}

.dropdown:hover .menu-hamburger span::before {
	/* top patty */
	top: -8px; /* + up, -down */
	left: 12px; /* + right, -left */
	width: 75%;
  	-webkit-transform: rotate(90deg);
  	-moz-transform: rotate(90deg);
  	-o-transform: rotate(90deg);
 	transform: rotate(90deg);
 	opacity: 0.95;
}

.dropdown:hover .menu-hamburger span::after {
	/* bottom patty */
	top: -8px;
	left: -6px;
	width: 75%;
  	-webkit-transform: rotate(90deg);
  	-moz-transform: rotate(90deg);
  	-o-transform: rotate(90deg);
 	transform: rotate(90deg);
 	opacity: 0.95;
}

.dropdown:hover .menu-hamburger::before {
	/* animated roof right*/
	width: 45%;
	top: 15px; /* + down, -up */
	left: 20px; /* + right, -left */
  	-webkit-transform: rotate(45deg);
  	-moz-transform: rotate(45deg);
  	-o-transform: rotate(45deg);
 	transform: rotate(45deg);
 	opacity: 0.95;
}

.dropdown:hover .menu-hamburger::after {
	/* animated roofs left */
	width: 45%;
	top: 15px;
	left: 6px;
  	-webkit-transform: rotate(-45deg);
  	-moz-transform: rotate(-45deg);
  	-o-transform: rotate(-45deg);
 	transform: rotate(-45deg);
 	opacity: 0.95;
}

.dropdown:hover .dropdown-content {
	display: block;
}


/*		Dropdown Menu Icon  	*/

.menu-hamburger {
	display: block;
	text-align: left;
	border-radius: 5px;
	position: relative;
	overflow: hidden;
	margin: 10px;
	padding: 0;
	width: 48px;
	height: 48px;
	font-size: 0;
	text-indent: -9999px;
	appearance: none;
	box-shadow: none;
	border-radius: none;
	border: none;
	cursor: pointer;
	transition: background 0.25s;
 	-webkit-transition: .25s;
  	-moz-transition: .25s;
  	-o-transition: .25s;
  	transition: .25s;
}

.menu-hamburger:focus {
 	outline: none;
}

.menu-hamburger::before,
.menu-hamburger::after {
	/* animated roofs */
	display: block;
	border-radius: 1.5px;
	position: absolute;
	top: 22px;
	left: 10px;
	right: 10px;
	height: 4px;
	background: #FFFFFF;
	content: "";
 	-webkit-transition: .25s;
  	-moz-transition: .25s;
  	-o-transition: .25s;
  	transition: .25s;
  	opacity: 0;
}

.menu-hamburger span {
	/* middle patty */
	display: block;
	border-radius: 1.5px;
	position: absolute;
	top: 22px;
	left: 10px;
	right: 10px;
	height: 4px;
	background: #FFFFFF;
 	-webkit-transition: .25s;
  	-moz-transition: .25s;
  	-o-transition: .25s;
  	transition: .25s;
}

.menu-hamburger span::before,
.menu-hamburger span::after {
	/* top & bottom patties */
	position: absolute;
	display: block;
	border-radius: 1.5px;
	left: 0px;
	width: 100%;
	height: 4px;
	background-color: #FFFFFF;
	content: "";
 	-webkit-transition: .25s;
  	-moz-transition: .25s;
  	-o-transition: .25s;
  	transition: .25s;
}

.menu-hamburger span::before {
	/* top patty */
	top: -10px;	
}

.menu-hamburger span::after {
	/* bottom patty */
	bottom: -10px;
}


/*		Dropdown Menu	  */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #F9F9F9;
    font-weight: bold;
    min-width: 160px;
    left: 10px;
    overflow: auto;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.1);
    z-index: 1;
    transition: background 0.25s;
 	-webkit-transition: .25s;
  	-moz-transition: .25s;
  	-o-transition: .25s;
  	transition: .25s;

}

.dropdown-content a {
    display: block;
	font-family: "Raleway", sans-serif;
	text-align: center;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    transition: background 0.25s;
    transition: 0.25s;
}

.dropdown-content a:hover{
	background-color: #027ec9;
	font-weight: bold;
	color: #FFFFFF;
	opacity: 0.8;
}

.show {
	display:block;
}