/* 
		Mainpage 
						*/
.background {
	background-image: url(https://anthonytwh.github.io/background.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-color: #FFFFFF;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.title {
	font-family: "Raleway", sans-serif;
	font-weight: 1000;
	text-align: center;
	font-size: 500%;
	color: #212121;
	margin-top: 10%;
}

.heading1 {
	font-family: "Raleway", sans-serif;
	font-weight: 1000;
	text-align: center;
	font-size: 250%;
	color: #212121;
	margin-top: 5%;
}

.body1{
	font-family: "Raleway", sans-serif;
	text-align: center;
}

.body2{
	font-family: "Raleway", sans-serif;
	font-size: 125%;
	text-align: left;
	margin-left: 20%;
	margin-right: 20%;
}

.icons {
	color: #0277BD;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 2.5%;
}

.hr { 
    display: block;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;

} 



/* 
		Dropdown Menu Icon
								*/
.c-hamburger {
  display: block;
  text-align: left; /* keep top-left */
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  margin: 10px;
  padding: 0;
  width: 48px;
  height: 48px;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background 0.2s;
}

.c-hamburger:focus {
  outline: none;
}

.c-hamburger span {
  display: block;
  border-radius: 1.5px;
  position: absolute;
  top: 22px;
  left: 10px;
  right: 10px;
  height: 4px;
  background: #FFFFFF;
}

.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  border-radius: 1.5px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #FFFFFF;
  content: "";
}

.c-hamburger span::before {
  top: -10px;
}

.c-hamburger span::after {
  bottom: -10px;
}

.c-hamburger--rot {
  background-color: #ECEFF1; /* swap with menu open color */
}

.c-hamburger--rot span {
  transition: transform 0.2s;
}

/* active state, i.e. menu open */
.c-hamburger--rot.is-active {
  background-color: #455A64; /* swap with menu closed color */
}

.c-hamburger--rot.is-active span {
  transform: rotate(90deg);
}



/* 
		Dropdown Menu
							*/
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #F9F9F9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.1);
    z-index: 1;
    transition: background 0.75s
}

.dropdown-content a {
	font-family: "Raleway", sans-serif;
	text-align: center;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background 0.75s
}

.dropdown a:click {background-color: #f1f1f1}

.show {display:block;}



/* 
		Page Transition: Components
										*/
html, body { height: 100%; }

.pt-perspective {
	position: relative;
	width: 100%;
	height: 100%;
	-webkit-perspective: 1200px;
	-moz-perspective: 1200px;
	perspective: 1200px;
}

.pt-page {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.pt-page-current,
.no-js .pt-page {
	visibility: visible;
	z-index: 1;
}

.no-js body {
	overflow: auto;
}

.pt-page-ontop {
	z-index: 999;
}



/* 
		Page Transition: Animation
										*/

/*		Fade 		*/
.pt-page-fade {
	-webkit-animation: fade .7s ease both;
	animation: fade .7s ease both;
}

.pt-page-moveToTopFade {
	-webkit-animation: moveToTopFade .7s ease both;
	animation: moveToTopFade .7s ease both;
}

.pt-page-moveFromBottomFade {
	-webkit-animation: moveFromBottomFade .7s ease both;
	animation: moveFromBottomFade .7s ease both;
}


/*		Keyframes		*/
@-webkit-keyframes fade {
	from { }
	to { opacity: 0.3; }
}
@keyframes fade {
	from { }
	to { opacity: 0.3; }
}

@-webkit-keyframes moveToTopFade {
	from { }
	to { opacity: 0.3; -webkit-transform: translateY(-100%); }
}
@keyframes moveToTopFade {
	from { }
	to { opacity: 0.3; -webkit-transform: translateY(-100%); transform: translateY(-100%); }
}

@-webkit-keyframes moveFromBottomFade {
	from { opacity: 0.3; -webkit-transform: translateY(100%); }
}
@keyframes moveFromBottomFade {
	from { opacity: 0.3; -webkit-transform: translateY(100%); transform: translateY(100%); }
}