
/*		Mainpage	  */

.background {
	background: url("background.jpg") no-repeat center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
	min-height: 100%;
}

.header {
	float: center;
	text-align: center;
}

.logo {
	font-family: 'Poiret One';
	font-weight: 1000;
	text-align: right;
	font-size: 150%;
	color: #696969;
	opacity: 0.25;
	float: right;
}

.mainpage {
	padding-top: 0%;
	float: center;
	text-align: center;
}

.title {
	font-family: "Raleway", sans-serif;
	font-weight: 1000;
	text-align: center;
	font-size: 500%;
	color: #212121;
	padding-top: 15%;
}


.heading1 {
	font-family: "Raleway", sans-serif;
	font-weight: 1000;
	text-align: center;
	font-size: 250%;
	color: #212121;
	padding-top: 5%;
	float: center;
}

.body1{
	font-family: "Raleway", sans-serif;
	text-align: center;
	padding-top: 0.5%;
	overflow: auto;
}

.body2{
	font-family: "Raleway", sans-serif;
	font-size: 110%;
	font-weight: bold;
	text-align: left;
	color: #212121;
	margin-left: 20%;
	margin-right: 20%;
	overflow: auto;
}

.icons {
	color: #027ec9;
	border: none;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 2.5%;
	text-shadow: 0.5px 0.5px 0.25px #757575;
	transition: 0.25s;
	cursor: pointer;
	/* 
	Color Pallete:
		Original - 0277BD
		Blues - 008adb, 1b82dd, 24a1e2, 3399ff, 0091ea, 6CA0DC, 00B9FF, 7FCFFF, 027ec9
		Grays- c4bdae, d1cbb6, b7c1c1
	*/
}

.iconsPar:hover .icons{
	opacity: 0.2;
}

.iconsPar .icons:hover{
	background-color: none;
	opacity: 1;
	-ms-transform: scale(1.15);
	-webkit-transform: scale(1.15);
	transform: scale(1.15);
}

.hr { 
    display: block;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;

} 


/*  	Dropdown	  */

.dropdown {
    position: relative;
    display: inline-block;
    float: left;
}

.dropdown:hover .c-hamburger {
	background-color: #027ec9;
}

.dropdown:hover .dropdown-content {
	display: block;
}


/*		Dropdown Menu Icon  	*/

.c-hamburger {
	display: block;
	text-align: left;
	border-radius: 5px;
	position: relative;
	overflow: hidden;
	margin: 10px;
	padding: 0;
	width: 48px;
	height: 48px;
	font-size: 0;
	text-indent: -9999px;
	appearance: none;
	box-shadow: none;
	border-radius: none;
	border: none;
	cursor: pointer;
	transition: background 0.2s;
}

.c-hamburger:focus {
 	outline: none;
}

.c-hamburger:hover{
	background-color: #027ec9;
	color: #027ec9;
	cursor: pointer;
}

.c-hamburger span {
	display: block;
	border-radius: 1.5px;
	position: absolute;
	top: 22px;
	left: 10px;
	right: 10px;
	height: 4px;
	background: #FFFFFF;
}

.c-hamburger span::before,
.c-hamburger span::after {
	position: absolute;
	display: block;
	border-radius: 1.5px;
	left: 0;
	width: 100%;
	height: 4px;
	background-color: #FFFFFF;
	content: "";
}

.c-hamburger span::before {
	top: -10px;	
}

.c-hamburger span::after {
	bottom: -10px;
}

.c-hamburger--rot {
	background-color: #ECE9E6;
	opacity: .8;
}

.c-hamburger--rot span {
	transition: transform 0.2s;
}

.c-hamburger--rot.is-active { /* active state, i.e. menu open */
	background-color: #027ec9;
	opacity: 0.8;
}

.c-hamburger--rot.is-active span {
	transform: rotate(90deg);
}

	
/*		Dropdown Menu	  */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #F9F9F9;
    font-weight: bold;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.1);
    z-index: 1;
    transition: background 0.2s;
}

.dropdown-content a {
    display: block;
	font-family: "Raleway", sans-serif;
	text-align: center;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    transition: background 0.2s
}

.dropdown-content a:hover{
	background-color: #027ec9;
	font-weight: bold;
	color: #FFFFFF;
	opacity: 0.8;
}

.dropdown a:click {
	background-color: #f1f1f1
}

.show {
	display:block;
}


/*		Keyframes		*/

@-webkit-keyframes fade {
	from { }
	to { opacity: 0.3; }
}
@keyframes fade {
	from { }
	to { opacity: 0.3; }
}

@-webkit-keyframes moveToTopFade {
	from { }
	to { opacity: 0.3; -webkit-transform: translateY(-100%); }
}
@keyframes moveToTopFade {
	from { }
	to { opacity: 0.3; -webkit-transform: translateY(-100%); transform: translateY(-100%); }
}

@-webkit-keyframes moveFromBottomFade {
	from { opacity: 0.3; -webkit-transform: translateY(100%); }
}
@keyframes moveFromBottomFade {
	from { opacity: 0.3; -webkit-transform: translateY(100%); transform: translateY(100%); }
}