/* 
		Home Page 
						*/
.background {
	background-image: url(https://anthonytwh.github.io/background.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-color: #FFFFFF;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.title {
	font-family: "Raleway", sans-serif;
	font-weight: 1000;
	text-align: center;
	font-size: 500%;
	color: #212121;
	margin-top: 10%;
}

.body1{
	font-family: "Raleway", sans-serif;
	text-align: center;
}

.icons {
	color: #0277BD;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 2.5%;
}



/* 
		Dropdown Menu Icon
								*/
.c-hamburger {
  display: block;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  margin: 10px;
  padding: 0;
  width: 48px;
  height: 48px;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background 0.2s;
}

.c-hamburger:focus {
  outline: none;
}

.c-hamburger span {
  display: block;
  border-radius: 1.5px;
  position: absolute;
  top: 22px;
  left: 10px;
  right: 10px;
  height: 4px;
  background: #FFFFFF;
}

.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  border-radius: 1.5px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #FFFFFF;
  content: "";
}

.c-hamburger span::before {
  top: -10px;
}

.c-hamburger span::after {
  bottom: -10px;
}

.c-hamburger--rot {
  background-color: #ECEFF1; /* swap with menu open color */
}

.c-hamburger--rot span {
  transition: transform 0.2s;
}

/* active state, i.e. menu open */
.c-hamburger--rot.is-active {
  background-color: #455A64; /* swap with menu closed color */
}

.c-hamburger--rot.is-active span {
  transform: rotate(90deg);
}