/* Title */
.Title {
  text-align: center;
  overflow: auto;
}

.test-button {
  background-color: #ff5722;
  border-color: #ff5722;
}

/* Header */
.Header-header {
  background-color: none;
}

.Header-title {
  font-size: 1.5em;
}

.Header-icon {
  color: grey;
}

.Header-intro {
  font-size: large;
}

/* Main */
.Main {
  background: url("background2.png");
  text-align: center;
}

.Main-jumbo {
  background: none;
  /*text-align: left;*/
}

/* Mid Section (About) */
.Mid {
  background: #444;
  color: white;
  text-align: center;
}

.Mid-title {
  font-size: 45px;
  font-weight: 100;
}

.Mid-sub {
  font-size: 20px;
  font-weight: 100;
}

/* Content Section (TBD) */
.Content {
  background: #BABABA;
  text-align: left;
  padding-left: 5em;

}

.Content-title {
  color: black;
  font-size: 25px;
  font-weight: 100;

}

.Content-header {
  color: black;
  font-size: 20px;
  font-weight: 100;
}

.Content-body{

}

/* Portfolio */
.Portfolio {
  background: #555;
  text-align: center;
  overflow: auto;
}

.Portfolio-title {
  color: white;

}

.Portfolio-header {
  color: white;

}

.Portfolio-body {
  color: white;

}

/* Footer */
.Footer {
  text-align: center;
  background: url("mid-section.png");
  color: white;
  text-align: center;
}

.Footer-div {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
}

.Footer-head {
  font-size: 20px;
  font-weight: 100;
}

.Footer-body{  
  font-size: 12px;
  font-weight: 120;
}

.Footer-icons {
  color: white;
}

.Footer-icons:hover {
  color: lightgreen;
}

.Footer-foot {
  background-color: #262626;
  font-size: 7pt;
  color: grey;
}
