/* App */
.App {
  background: url("background2.png");
}

.test-button {
  background-color: #ff5722;
  border-color: #ff5722;

}

/* Header */
.Header-header {
  background-color: none;
}

.Header-title {
  font-size: 1.5em;
}

.Header-intro {
  font-size: large;
}

/* Main */
.Main-jumbo {
  background: none;
}


/* Footer */
.Footer {
  text-align: center;
}

.App-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

.App-footer-head {

}

.App-footer-body{
  text-align: center;
  background-color: #313131;
  color: white;

}

.Footer-blank {
  color: #313131;

}

.Footer-icons {
  padding-left: 0;
  padding-right: 0;
}

.App-footer-foot {
  background-color: #262626;
  font-size: 7pt;
  color: grey;
}

/*
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/
