/*
---------------------
| Text Format Guide |
---------------------
Logo-Title == size: 100px, spacing: 0.15em
Logo-Subtitle == size: 
--
Text-Title == size: 50px, spacing: 0.15em
Text-Header == size: 25px, spacing: 0.05em
Text-Body == size: 15px
---------------------
| Color Theme Guide |
---------------------
Color Primary == black
Color Secondary == white
Subcolor Primary == #3E8FE2
Background Primary = #222
--
*/



/* 


G L O B A L  


*/
.Global {
  text-align: center;
  overflow: none;
}




/* 


B A C K G R O U N D S 


*/
.BG-1 {
  background: url("background2.png");
  background-color: #999;
}

.BG-2 {
  background: url("background.png");
  /*background-color: #111;*/
}




/* 


H E A D E R  


*/
.Header {
  /*placeholder*/
}

.Header-header {    
  /*placeholder*/
}

.Header-title {
  font-size: 1.5em;
}

.Header-icon {
  color: #3E8FE2; /*rgb(116, 123, 255, 0.75);*/
}

.Header-icon:hover {
  color: lightblue; /*rgb(116, 123, 255, 0.95);*/
}

.Header-link {
  color: rgb(42, 45, 48, 0.75);
}

.Header-link:hover {
  color: #3E8FE2;
  text-decoration: underline;
  cursor: pointer;
}

.Header-intro {
  font-size: large;
}




/* 


 M A I N 


*/
.Main {
  margin-top: 5em;  
  margin-bottom: 6em;
}

.Main-jumbo {
  background: none;
}

.Main-heading {
  /*placeholder*/
}

.Main-title {
  font-size: 100px;
  font-weight: 100;
}

.Main-subtitle {
  /*placeholder*/
}

.Main-body {
  padding-top: 2em;
  padding-bottom: 5em;
  margin-left: 25em;
  margin-right: 25em;
}

.Main-icons {
  color: #333;
  text-shadow: 1px 1px 1px black;
}

.Main-icons:hover {
  color: #333;
  transform:scale(1.1);
}

/* 

TODO DESIGN:

  - Scroll Down Arrow Animaion
  - Scroll Down Arrow Fades with scrolling
*/

.Main-arrow {
  justify-content: center;
  display: flex;
  height: -5em;
  position: -webkit-sticky;
  position: sticky;
  top: 2em;
}

.Main-arrow-icon {
  color: #333;
  -webkit-animation: FadeInOut 1.5s linear infinite, ZoomInOut 1.5s linear infinite;
  animation: FadeInOut 1.5s linear infinite, ZoomInOut 1.5s linear infinite;
  margin: 0;
}

@keyframes FadeInOut {
  0%   { opacity:1; }
  25%  { opacity:0.90;}
  50%  { opacity:0.80;}
  25%  { opacity:0.90;}
  100% { opacity:1; }
}

@-webkit-keyframes FadeInOut {
  0%   { opacity:1; }
  25%  { opacity:0.90;}
  50%  { opacity:0.80;}
  25%  { opacity:0.90;}
  100% { opacity:1; }
}

@keyframes ZoomInOut {
  0%  { transform:scale(1.0); }
  25%  { transform:scale(0.75); }
  50%  { transform:scale(0.6); }
  75%  { transform:scale(0.80); }
  100%  { transform:scale(1.1); }
}

@-webkit-keyframes ZoomInOut {
  0%  { transform:scale(1.0); }
  25%  { transform:scale(0.75); }
  50%  { transform:scale(0.6); }
  75%  { transform:scale(0.80); }
  100%  { transform:scale(1.1); }
}



/* 


A B O U T   M E 


*/
.About {
  background:
    linear-gradient(175deg, transparent 14.9%, #222 15.1%, #222 74.9%, #222 75.1%);
  color: white;
  /*overflow: hidden;*/
  /*padding-top: 25%;*/
  padding-bottom: 20em;
}

.About:after {
    clear: both;
}

.About-title {
  font-size: 50px;
  font-weight: 100;
  letter-spacing: 0.15em;
  padding-bottom: 2.5%;
}

.About-title-row {
  justify-content: center;
  padding-top: 27em;
  padding-bottom: 2em;
}

.About-toast {
  font-size: 15px;
  font-weight: 100;
  margin-left: 10em;
  max-height: 40em;
  max-width: 40em;
  /*overflow: hidden;*/
  box-shadow: -2px 2px 5px #111;
  border-color: #222;
}

.About-animate {
  font-size: 20px;
  font-weight: 100;
  color: white;
  background: #222;
  border-color: #3E8FE2;
  height: 4em;
  width: 100em;
  padding-bottom: 2em;
  padding-left: 2em; 
  padding-right: 2em;
}

.About-animate span {
  letter-spacing: 0.05em;
  font-weight: 100;
  font-size: 25px;
  animation: Aboutimate 10s linear infinite 0s;
  opacity: 0;
  /*overflow: hidden;*/
  position: absolute;
}

.About-animate span:nth-child(2){
  animation-delay: 2s;
}

.About-animate span:nth-child(3){
  animation-delay: 4s;
}

.About-animate span:nth-child(4){
  animation-delay: 6s;
}

.About-animate span:nth-child(5){
  animation-delay: 8s;
}

@keyframes Aboutimate {
  0% { opacity: 0; }
  5% { opacity: 0; transform: translateX(-50px); }
  10% { opacity: 1; transform: translateX(0px); }
  25% { opacity: 1; transform: translateX(0px); }
  30% { opacity: 0; transform: translateX(50px); }
  80% { opacity: 0; }
  100% { opacity: 0; }
}

.About-body-left {
  background: #222;
  justify-content: left;
  width: 100em;
  padding-top: 1em;   
  padding-bottom: 1em;
  padding-left: 2em; 
  padding-right: 2em;
}

.About-body-paragraph {
  letter-spacing: 0.05em;
  text-align: justify;
  max-width: 35em;
}

.About-body-right {
  font-size: 15px;
  float: right;
  margin-right: 10em;
}

.About-body-photo {
  border: 1px solid #222;
  box-shadow: 2px 2px 5px #111;
  width: 23.73em;
  height: 19em;
}



/* 


C O N T E N T 


*/
.Content {
  clear: both;
  color: black;
  padding-top: 25%;
  padding-bottom: 20%;
  background: 
    linear-gradient(185deg, #222 14.9%, rgb(200, 200, 200, 0.5) 15.1%) /* rgba(51, 51, 51, 1), transparent 3%, transparent 97%,rgba(10, 10, 10, 0.25) 98%, rgb(51, 51, 51, 1) 99%)*/;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;

}

.Content-title {
  font-size: 50px;
  letter-spacing: 0.15em;
  font-weight: 100;
}

.Content-header {
  font-size: 25px;
  letter-spacing: 0.05em;
  font-weight: 100;
}

.Content-body{
  font-size: 15px;
  font-weight: 100;
}



/* 


P O R T F O L I O


*/
.Portfolio {
  /*background: #555;*/
  background: rgb(34, 34, 34, 1)
    /*linear-gradient(185deg, rgba(0, 0, 0, 0) 10.9%, rgb(34, 34, 34, 1) 11.1%)*/;
  padding-top: 1em;
  padding-bottom: 10em;
  text-align: center;
  align-items: center;
}

.Portfolio-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  margin: 0 auto;

  background: #222;
  border: 2px solid #222;
  border-color: #222;
  border-top-color: #222;
  border-bottom-color: #3E8FE2;
  color: white;

  font-size: 50px;
  letter-spacing: 0.2em;
  font-weight: 100;

  width: 8em;
  height: 2em;
  margin-top: 5em;
}

.Portfolio-badge:hover {
  outline: none;
  box-shadow: none;
  background: #272727;
  border-color: #272727;
  color: lightgrey;
  border-top-color: #222;
  border-bottom-color: #3E8FE2;
  transform:scale(1.025);
}

.Portfolio-badge:focus {
  outline: none;
  box-shadow: none;
  background: #272727;
  border-color: none;
  color: lightgrey;
  border-top-color: #222;
  border-top-color: #3E8FE2;
  border-bottom-color: #3E8FE2;
}

.Portfolio-card {
  background-color: #333;
  border-color: none;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  box-shadow: 0px 5px 5px #111;
  margin-top: 2em;
}

.Portfolio-title {
  color: white;
  text-shadow: 2px 2px #444;
  letter-spacing: 0.15em;
  font-size: 35px;
  font-weight: 100;
}

.Portfolio-header {
  color: white;
  text-shadow: 1px 1px #444;
  text-align: left;
  letter-spacing: 0.05em;
  font-size: 25px;
  font-weight: 100;
}

.Portfolio-body {
  color: white;
  text-align: left;
  font-size: 15px;
  font-weight: 100;
}

.Portfolio-row {
  padding-top: 2%;
  padding-bottom: 2%;
}

.Portfolio-href {
  color: #3E8FE2;
}

.Portfolio-href:hover {
  color: #3E8FE2;
  text-decoration: underline;
}



/* 


C O N T A C T


*/
.Contact {
  align-items: center;
  margin: 0 auto;
  background-color: #333;
  box-shadow: 0px 5px 5px #111;
  width: 50em;
  padding-top: 2em;
  padding-bottom: 3em;
  padding-left: 5em;
  padding-right: 5em;
  margin-top: 5em;
}

.Contact-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  margin: 0 auto;

  background: #222;
  border: 2px solid #222;
  border-color: #222;
  border-bottom-color: #3E8FE2;
  color: white;
  font-weight: 100;

  font-size: 30px;
  letter-spacing: 0.2em;
  font-weight: 100;

  width: 5em;
  height: 2em;
  margin-top: 10em;
}

.Contact-badge:hover {
  outline: none;
  box-shadow: none;
  background: #272727;
  border-color: #272727;
  color: white;
  border-bottom-color: #3E8FE2;
  transform:scale(1.025);
}

.Contact-badge:focus {
  outline: none;
  box-shadow: none;
  background: #272727;
  border-color: none;
  color: white;
  border-top-color: #3E8FE2;
  border-bottom-color: #3E8FE2;
}

.Contact-form {
  padding-left: 2em;
  padding-right: 2em;
}

.Contact-label {
  font-weight: 100;
  font-size: 25px;
  color: white;
  letter-spacing: 0.05em;
  background-size: 0.5px 1em;
  box-shadow:
    inset 0 -0.8em #333,
    inset 0 -0.85em white;
  display: inline;
  padding-top: 1em;
  padding-bottom: 1em;
}

.Contact-input {
  background-color: #333;
  border-color: #333;
  border-bottom-color: #3E8FE2;
  color: white;
  font-weight: 100;
}

.Contact-input:focus {
  background: #444;
  color: white;
  border-color: #444;
  border-top-color: #3E8FE2;
  border-bottom-color: #3E8FE2;
  cursor: default;
  box-shadow: none;
  outline: none;
}

.Contact-input:-webkit-autofill {
  transition: background-color 99999s ease-in-out 0s;
  -webkit-text-fill-color: white !important;
}

.Contact-button {
  background-color: #333;
  border-color: rgb(110, 117, 124);
  color: white;
  font-weight: 100;
  height: 3em;
  width: 10em;
}

.Contact-button:hover {
  background-color: #444;
  border-color: #3E8FE2;
  color: white;
  font-weight: 100;
  transform:scale(1.025);
}


/* 


F O O T E R


*/
.Footer {
  background: url("mid-section.png");
  color: white;
  text-align: center;
  padding-top: 1%
}

.Footer-head {
  font-size: 20px;
  font-weight: 100;
  letter-spacing: 0.1em;
}

.Footer-body{  
  color: white;
  font-size: 15px;
  letter-spacing: 0.05em;
  font-weight: 100;
}

.Footer-body:hover {  
  color: #3E8FE2;
  font-size: 15.5px;
  font-weight: 10;
  text-decoration: none;
}

.Footer-icons {
  color: white;
}

.Footer-icons:hover {
  color: #3E8FE2;
  transform:scale(1.2);
}

.Footer-foot {
  background-color: rgb(53, 53, 53) /* rgb(37, 37, 37) #292929;*/;
  font-size: 8pt;
  color: #888/*rgb(100, 100, 100)*/;
  font-weight: 100;
  bottom: 0;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
}
